src/main/java/services/WebSerivcePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://services/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services/" schemaLocation="WebSerivcePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="geefAantalWerklozenPerStad">
    <part name="parameters" element="tns:geefAantalWerklozenPerStad"/>
  </message>
  <message name="geefAantalWerklozenPerStadResponse">
    <part name="parameters" element="tns:geefAantalWerklozenPerStadResponse"/>
  </message>
  <message name="geefAantalArbeidersPerStad">
    <part name="parameters" element="tns:geefAantalArbeidersPerStad"/>
  </message>
  <message name="geefAantalArbeidersPerStadResponse">
    <part name="parameters" element="tns:geefAantalArbeidersPerStadResponse"/>
  </message>
  <message name="geefAantalBewonersPerStad">
    <part name="parameters" element="tns:geefAantalBewonersPerStad"/>
  </message>
  <message name="geefAantalBewonersPerStadResponse">
    <part name="parameters" element="tns:geefAantalBewonersPerStadResponse"/>
  </message>
  <portType name="WebSerivce">
    <operation name="geefAantalWerklozenPerStad">
      <input ns1:Action="geefAantalWerklozenPerStad" message="tns:geefAantalWerklozenPerStad" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://services/WebSerivce/geefAantalWerklozenPerStadResponse" message="tns:geefAantalWerklozenPerStadResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="geefAantalArbeidersPerStad">
      <input ns3:Action="geefAantalArbeidersPerStad" message="tns:geefAantalArbeidersPerStad" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://services/WebSerivce/geefAantalArbeidersPerStadResponse" message="tns:geefAantalArbeidersPerStadResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="geefAantalBewonersPerStad">
      <input ns5:Action="geefAantalBewonersPerStad" message="tns:geefAantalBewonersPerStad" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://services/WebSerivce/geefAantalBewonersPerStadResponse" message="tns:geefAantalBewonersPerStadResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

